<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Homework</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <h1>Welcome to my App <%- name %></h1>
    <ul>
        Fun facts about me:
        <% facts.forEach((fact)=>{ %>
            <li><%- fact %></li>
     <%   }) %>
    </ul>

    <script src="/javascripts/method.js"></script>
</body>
</html>