<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="pets">
    Your pet <%- pet %> is <%- age %> old.
    </div>
    <script src="/javascripts/method.js"></script>
</body>
</html>