<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo EJS</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="imageBox">
        <img src="/images/images.jpg" alt="" srcset="">
        <img src="/images/images (1).jpg" alt="" srcset="">
        <img src="/images/2e0105564df0b77e4c456cb82ecba7f8.jpg" alt="" srcset="">
    </div>
</body>
</html>